@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #92232E;
	font-weight: 600;
}

a:hover {
	color: #92232E;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.85);
}

.navbar a {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#navbarNav {
	justify-content: flex-end;
}

.jumbotron {
	color: #ffff;
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	padding: 15rem 0;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
	text-align: center;
}

.jumbotron .container {
	max-width: 916px;
}

#hero-search {
	max-width: 800px;
	margin: 0 auto;
}

#hero-search .form-control {
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 1rem;
	padding: 1.5rem;
}

#hero-search .input-group-append .btn {
	border: 1px solid #ffffff;
	border-left: none;
}

#hero-search .form-control::placeholder {
	color: #ffff;
}
