// Typography
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;

// Colors
$primary: #92232e;
$link-color: $primary;

// Import Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 600;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.85);

	a {
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}

#navbarNav {
	justify-content: flex-end;
}

.jumbotron {
	color: #ffff;
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	padding: 15rem 0;
	text-align: center;
	min-height: 100vh;
	margin-bottom: 0;

	.container {
		max-width: 916px;
	}

	h1 {
		text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
	}
}

#hero-search {
	max-width: 800px;
	margin: 0 auto;

	.form-control {
		background-color: rgba(0, 0, 0, 0.75);
		border: 1px solid #ffffff;
		color: #ffffff;
		font-size: 1rem;
		padding: 1.5rem;

		&::placeholder {
			color: #ffff;
		}
	}

	.input-group-append .btn {
		border: 1px solid #ffffff;
		border-left: none;
	}

	.list-group-item {
		text-align: left;
		background-color: rgba(0, 0, 0, 0.75);

		&:first-of-type {
			padding-top: 1.5rem;
		}
	}
}

.movie-backdrop {
	height: 100vh;
	background-color: #000000;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.movie-info {
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 2fr;
	padding: 0;
}

.movie-details {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.movie-details .lead {
	font-size: 1.1rem;
	line-height: 1.7em;
}

.movie-details ul {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}

.movie-details li:first-of-type {
	grid-column-start: 1;
	grid-column-end: 4;
}

.movie-details h3 {
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
}
